<h1>WELCOME TO TASK LIST</h1>
<% if flash[:error] %>
  <h3 class="errors">
    <%= flash[:error] %>
  </h3>
<% end %>

<% if @logged_in  %>
  <h2>You are currently logged in.</h2>
  <%= button_to "Log Out", sessions_path, method: :delete %>
<% else %>
  <%= link_to "Please Log In", "/auth/github" %>
<% end %>
