<h2>Title: <%= @task.title %></h2>

<h3>Description:</h3>
<p>
  <%= @task.description %>
</p>

<h4>Completed?
  <% if @task.completed == true %>
    <input type="checkbox" checked name="completed">
  <% else %>
    <input type="checkbox" name="completed">
  <% end%>
</h4>

<h4>Completed at: <%= @task.completed_at %>
</h4>

<%= link_to "Edit Task", "/tasks/#{@task.id}/edit/" %>
